<div class="wysiwyg-holder" ng-hide="generateWysiwyg && !blurred" ng-click="edit()">
    <div class="icon-holder">
        <i class="material-icons">&#xE254;</i>
    </div>
    <div ng-bind-html="displayVal"></div>
</div>

<div ng-if="generateWysiwyg && tinymce_options" ng-hide="blurred" >
    <textarea class="wysiwyg" ui-tinymce="tinymce_options" ng-model="html.val" ng-required="field.options.required" cols="30" rows="24"></textarea>
</div>