<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <md-input-container class="md-block">
            <label>מיקום</label>
            <input type="text" g-places-autocomplete ng-model="fullAddress">
        </md-input-container>
    </div>

    <div class="uk-width-medium-1-2">
        <md-input-container class="md-block">
            <label>שכונה</label>
            <input type="text" g-places-autocomplete ng-model="neighborhood">
        </md-input-container>
    </div>
    
    <div class="uk-width-medium-2-5">
        <md-input-container class="md-block">
            <label>Latitude</label>
            <input type="text" ng-change="getNewLocation()" ng-model="cords.latitude">
        </md-input-container>
    </div>

    <div class="uk-width-medium-2-5">
        <md-input-container class="md-block">
            <label>Longitude</label>
            <input type="text" ng-change="getNewLocation()" ng-model="cords.longitude">
        </md-input-container>
    </div>

    <div class="uk-width-medium-1-5">
        <md-button ng-click="resetField()" class="md-raised md-primary uk-float-right">Clear</md-button>
    </div>
</div>


<ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" options="map.options" control="map.control">
    <ui-gmap-marker coords="map.marker.cords" options="map.marker.options" idkey="map.marker.id">
    </ui-gmap-marker>
</ui-gmap-google-map>