<div class="uk-width-medium-2-3 dateField" >
    <div class="uk-input-group uk-width-medium-2-5">
        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
        <label>Date</label>
        <input class="md-input" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="dateVal">
    </div>
    <div class="uk-input-group uk-width-medium-2-5">
        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
        <label for="uk_tp_1">Time</label>
        <input class="md-input" type="text" id="uk_tp_1" data-uk-timepicker md-input ng-model="timeVal">
    </div>
    <div class="uk-input-group uk-width-medium-1-5">
        <md-button ng-click="now()" class="md-raised md-primary uk-float-right">Now</md-button>
    </div>
</div>