<div class="uk-grid" style="direction:ltr;">
    
    <div  class="uk-width-medium-1-3">
        <ul class="uk-subnav uk-subnav-pill">
            <li ng-repeat="type in types track by $index" ng-class="{'uk-active':currentType.id==type.id}" ng-click="setType(type)"><a href="" ng-bind="type.key"></a></li>  
        </ul>
    </div>
    
    <div  class="uk-width-medium-2-3">
        <div class="uk-form-row">
            <label>Text</label>
            <input type="text" class="md-input" ng-model="value" md-input />
        </div>
    </div>
</div>