<!DOCTYPE html>
<html lang="en" dir="rtl" ng-app="sftCms" document-events ng-click="onClick($event)" ng-keyup="onKeyUp($event)" ng-class="{ 'page_loading': pageLoading, 'page_loaded': pageLoaded, 'app_initialized': appInitialized && (!$state.is('login') && !$state.includes('error'))}">
<head>
    <meta charset="UTF-8">
    <!--<title page-title ng-bind="page_title"></title>-->
    <title></title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon" type="image/x-icon">
    
    <link rel="stylesheet" href="css/plugins.min.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all">
    <link rel="stylesheet" href="elfinder/elfinder.min.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all">

    <!-- uikit rtl -->
    <link rel="stylesheet" href="css/uikit.rtl.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all">
    <!-- flag icons -->
    <link rel="stylesheet" href="icons/flags/flags.min.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all">

    <!-- JS -->
        <!-- common functions -->
        <script src="js/common.min.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
    <!-- ANGULAR -->
        <script src="js/angular_common.min.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <!-- altairApp combined -->
        <script src="js/sftcms_app.min.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="js/custom-fields.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        
        <!--<script src="app/app.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.factory.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.service.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.directive.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.filters.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.states.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.controller.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
        <script src="app/app.oc_lazy_load.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>-->

    <!-- main stylesheet -->
    <link rel="stylesheet" href="css/main.min.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all" id="main_stylesheet">

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
    <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js?v=0c99f696ae549b10cc52cec3147c5ab9"></script>
    <link rel="stylesheet" href="css/ie.css?v=0c99f696ae549b10cc52cec3147c5ab9" media="all">
    <script type="text/javascript">
        window.isLteIE9 = true;
    </script>
    <![endif]-->

</head>
<body class="{{main_theme}}" ng-class="{
    'sidebar_main_active': primarySidebarActive && !miniSidebarActive && !topMenuActive && (!$state.is('login') && !$state.includes('error')),
    'sidebar_main_open': primarySidebarOpen && !miniSidebarActive && !topMenuActive && largeScreen && (!$state.is('login') && !$state.includes('error')),
    'sidebar_mini': miniSidebarActive && largeScreen && (!$state.is('login') && !$state.includes('error')),
    'sidebar_main_hiding': primarySidebarHiding,
    'sidebar_secondary_active': secondarySidebarActive && (!$state.is('login') && !$state.includes('error')),
    'top_bar_active': toBarActive && (!$state.is('login') && !$state.includes('error')),
    'page_heading_active': pageHeadingActive && (!$state.is('login') && !$state.includes('error')),
    'header_double_height': headerDoubleHeightActive && (!$state.is('login') && !$state.includes('error')),
    'main_search_active': mainSearchActive && (!$state.is('login') && !$state.includes('error')),
    'header_full': fullHeaderActive && (!$state.is('login') && !$state.includes('error')),
    'boxed_layout': boxedLayoutActive && (!$state.is('login') && !$state.includes('error')),
    'login_page': $state.is('login'),
    'error_page': $state.includes('error'),
    'uk-height-1-1': page_full_height,
    'footer_active': footerActive,
}" content-sidebar>
    <div id="page_preloader" ng-hide="hidePreloader"><img src="img/page_preloader.gif" alt=""/></div>

    <div ui-view="main_header"></div>
    <div ui-view id="main_view" ng-class="{'uk-height-1-1': page_full_height }"></div>
    <div ui-view="main_sidebar" ng-hide="topMenuActive"></div>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</body>
</html>
