<div class="uk-grid" style="direction:ltr;">
    
    <div  class="uk-width-medium-1-2">
        <ul class="uk-subnav uk-subnav-pill">
            <li ng-repeat="type in types track by $index" ng-class="{'uk-active':currentType.id==type.id}" ng-click="setType(type)"><a href="" ng-bind="type.key"></a></li>  
        </ul>
    </div>
    
    <div  class="uk-width-medium-1-2">
        <div class="uk-grid">
            
            <div  class="uk-width-medium-1-2 uk-input-group">
                <label for="uk_dp_1">Number</label>
                <input class="md-input" type="number" id="uk_dp_1" md-input ng-model="numbers.startNum">
            </div>  
            
            <div  class="uk-width-medium-1-2 uk-input-group" ng-show="currentType.id>3">
                <label for="uk_dp_1">And</label>
                <input class="md-input" type="number" id="uk_dp_1" md-input ng-model="numbers.endNum">  
            </div>
            
        </div>
    </div>
    
    
</div>