<md-toolbar class="_md" style="background-color: rgb(16,108,200);">
    <div class="md-toolbar-tools">
        <h2 style="color: rgba(255,255,255,0.87);" translate="bindingsModal.title">Bidnings: </h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="close()">
                <i class="material-icons">&#xE14C;</i>
            </button>
    </div>
</md-toolbar>

<div class="uk-overflow-container bindings-modal">
    <table class="uk-table uk-table-nowrap">
        <thead>
            <tr>
                <th><span translate="bindingsModal.nameHead">Name</span></th>
                <th><span translate="bindingsModal.fieldHead">Field</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bind in bindings track by $index">
                <td ng-bind="::bind.name"></td>
                <td ng-bind="::bind.fieldLabel"></td>
            </tr>
        </tbody>
    </table>
</div>