<md-input-container class="uk-width-medium-1-1"  md-is-error="form[field.path].$invalid">
        <label>Select...</label>
        <md-select ng-model="ngModel" ng-required="field.options.required" name="{{::field.path}}">
          <md-option ng-repeat="opt in field.ops" ng-value="opt.value">
            {{opt.label}}
          </md-option>
        </md-select>
        <div ng-messages="form[field.path].$error">
          <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
        </div>
</md-input-container>