<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid uk-margin-bottom">
            <h1 class="heading_b uk-width-medium-4-6">
                {{items.total}} {{::(list.list.options.plural || list.list.options.label)}}
            </h1>
            <div class="uk-width-medium-2-6">
                <a class="md-btn md-btn-success md-btn-wave-light uk-float-right" ng-hide="list.list.options.nocreate" ng-click="openInitial($event)">
                    <span translate="listView.create">Create</span> {{list.list.options.singular}}
                </a>
                <a class="md-btn md-btn-success md-btn-wave-light uk-float-right" ng-click="download($event)" style="margin-left:5px;">
                    <md-tooltip md-direction="bottom">
                        <span translate="listView.download">Download</span>
                    </md-tooltip>
                    <i class="material-icons">&#xE2C4;</i>
                </a>
            </div>
        </div>


        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-2 ">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-accordion" data-uk-accordion="{showfirst:false}">
                            <h3 class="heading_a uk-accordion-title uk-accordion-title-blank" translate="listView.columns">Columns</h3>
                            <div class="uk-accordion-content no-padding">
                                <div class="md-input-filled">
                                    <selectize config="selectize_columns_config" options="availableColumns" position="bottom" ng-model="$storage[storageKey].selectedColumns"></selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-medium-1-2 uk-row-first">
                <div class="md-card">
                    <div class="md-card-content" ng-enter="runFilter()">

                        <div class="uk-accordion" data-uk-accordion="{showfirst:false}">
                            <h3 class="heading_a uk-accordion-title uk-accordion-title-blank" translate="listView.filters">Filters</h3>
                            <div class="uk-accordion-content no-padding">
                                <md-input-container class="md-block">
                                    <label translate="listView.search">Search</label>
                                    <input type="text" ng-model="filter.searchText">
                                </md-input-container>
                                <div class="uk-grid">
                                    <div class="uk-width-large-1-1 uk-width-medium-1-1 filters">
                                        <selectize config="selectize_filters_config" options="availableFilters" position="bottom" ng-model="$storage[storageKey].filters.selectedFilters"></selectize>
                                        <div ng-repeat="col in $storage[storageKey].filters.currentFilters">
                                            <i class="material-icons" ng-click="removeFilter(col.path, $index)">&#xE14C;</i>
                                            <h5 ng-bind="col.label"></h5>
                                            <div dynamic-directive="(col.type || 'objectid')+'-filter'" list="list.list" ng-model="filter.filterObj[col.path]" col="col"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-clearfix uk-margin-large-top">
                                    <button class="md-btn md-btn-primary uk-float-right" ng-click="runFilter()" wz-next="" translate="listView.search">Search</button>

                                    <button style="margin-left: 8px;" class="md-btn md-btn-danger uk-float-right" ng-click="clearFilters()" wz-next="" translate="listView.removeAllFilters">Remove All Filters</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- large chart -->
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <ul class="uk-pagination uk-margin-medium-top">
                    <li ng-class="{'uk-disabled':!items.previous}"><a ng-click="getListPage(items.currentPage-1)"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li ng-repeat="p in items.pages track by $index" ng-class="{'uk-active': isActivePage(p)}" ng-click="getListPage(p,$index)">
                        <a><span ng-bind="p"></span></a>
                    </li>
                    <li ng-class="{'uk-disabled':!items.next}"><a ng-click="getListPage(items.currentPage+1)"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap results-table">
                        <thead>
                            <tr>
                                <th width="25" ng-if="!list.list.options.nodelete"></th>
                                <th ng-repeat="col in columns" ng-click="setSort(col)">
                                    <span ng-bind="::col.label" auto-direction></span>
                                    <i ng-show="col.path == $storage[storageKey].currentSort.path" class="ng-hide material-icons">{{$storage[storageKey].currentSort.inv ? '&#xE313;' : '&#xE316;'}}</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items.results track by item._id">
                                <td width="25" ng-if="!list.list.options.nodelete" class="removeIcon" ng-click="deleteItem(item._id,$event)">
                                    <i class="material-icons">&#xE872;</i>
                                </td>
                                <td ng-repeat="col in columns" ng-click="goToItem(item)">
                                    <div dynamic-directive="(col.type || 'objectid')+'-column'" ng-model="item[col.path]" field="col" doc="item"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="uk-pagination uk-margin-medium-top">
                    <li ng-class="{'uk-disabled':!items.previous}"><a ng-click="getListPage(items.currentPage-1)"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li ng-repeat="p in items.pages track by $index" ng-class="{'uk-active': isActivePage(p)}" ng-click="getListPage(p,$index)">
                        <a><span ng-bind="p"></span></a>
                    </li>
                    <li ng-class="{'uk-disabled':!items.next}"><a ng-click="getListPage(items.currentPage+1)"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>