<div class="md-input-filled">
    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" 
        md-items="item in getMatches(searchText)" 
        md-item-text="item.name"
        md-input-minlength="0"
        md-selected-item-change="updateFilter()">
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>
</div>