<md-toolbar class="_md" style="background-color: rgb(16,108,200);">
    <div class="md-toolbar-tools">
        <h2 style="color: rgba(255,255,255,0.87);">{{modalTitle}}</h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="close()">
                <i class="material-icons">&#xE14C;</i>
            </button>
    </div>
</md-toolbar>
<div class="ng-hide uk-width-medium-1-1" ng-show="viewMode==viewModes.ChooseInherited">
    <div ng-repeat="inheritedList in list.inherited" class="inheritOption uk-margin-small-top uk-width-medium-1-5" 
        ng-click="setInherited(inheritedList)">
        <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light">{{::inheritedList.label}}</a>
    </div>
</div>
<div class="ng-hide" ng-show="viewMode==viewModes.Creation" region="initial-modal">
    <error-view errors="errors"></error-view>
    <div class="uk-grid" ng-form="editForm">
        <div ng-repeat="field in initialFields" class="uk-grid uk-width-medium-1-1">
            <h3 class="uk-width-medium-1-4" ng-bind="field.label"></h3>
            <div class="uk-width-medium-3-4" is-initial form="editForm" dynamic-directive="(field.type || 'objectid')+(field.options.noedit ? '-column' : '-field')"
                field="field" list="list" ng-model="model[field.path]" model="model" val="model[field.path]"></div>
        </div>
        <div class="uk-clearfix uk-margin-large-top save-btn">
            <md-button ng-click="create()" translate="initialModal.save" ng-disabled="editForm.$invalid" class="md-raised md-primary uk-float-right">Save</md-button>
        </div>
    </div>
</div>