<div class="uk-width-medium-1-2 textarray-field">
  <div ng-repeat="value in ngModel track by $index">
    <i ng-click="remove($index)" class="material-icons md-24 uk-text-danger">&#xE92B;</i>
    <md-input-container class="uk-width-medium-5-6">
      <label></label>
      <input type="text" ng-model="ngModel[$index]">
    </md-input-container>
  </div>
  <md-button ng-click="add()" class="md-raised md-primary uk-float-left">Add item</md-button>
</div>