    <!-- main sidebar -->
    <aside id="sidebar_main" sidebar-primary custom-scrollbar ng-class="{ 'accordion_mode': menuAccordionMode }">
        <div class="sidebar_main_header" ng-if="!fullHeaderActive">
            <div class="sidebar_logo">
            <!--    <a ui-sref="restricted.dashboard" ng-show="!miniSidebarActive"><img ng-src="assets/img/logo_main.png" alt="" add-image-prop /></a>
                <a ui-sref="restricted.dashboard" ng-show="miniSidebarActive"><img ng-src="assets/img/logo_main_small.png" alt="" add-image-prop /></a>-->
            </div>
            <div class="sidebar_actions">
                <selectize id="lang_switcher" name="lang_switcher" config='langSwitcherConfig' options='langSwitcherOptions' ng-model="langSwitcherModel"></selectize>
            </div>
        </div>
        <div class="menu_section">
            <ul>
                <li ui-sref-active="current_section" ng-class="{'current_section':section.isActive()}">
                    <a ui-sref="{{::dashboardSection.link}}" ui-sref-opts="::{{dashboardSection.linkOpts}}" ng-class="{'menu_tooltip' : miniSidebarActive}">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="dashboardSection.icon"></i></span>
                        <span class="menu_title" translate="mainMenu.dashboard"></span>
                    </a>
                </li>
                <li ui-sref-active="current_section" ng-click="profileSection.click()" ng-class="{'current_section':profileSection.isActive()}">
                    <a ng-class="{'menu_tooltip' : miniSidebarActive}">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="profileSection.icon"></i></span>
                        <span class="menu_title" translate="mainMenu.userProfile"></span>
                    </a>
                </li>

                <li ui-sref-active="current_section" ng-click="sections[0].click()" ng-switch="sections[0].link.length > 0" 
                    ng-class="{'current_section':sections[0].isActive(),'submenu_trigger': (sections[0].submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (sections[0].submenu.length > 0) && miniSidebarActive}" 
                    on-last-repeat>
                    <a ng-switch-when="true"  ui-sref="{{::sections[0].link}}" ui-sref-opts="::{{sections[0].linkOpts}}" ng-class="{'menu_tooltip' : miniSidebarActive}">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="sections[0].icon"></i></span>
                        <span class="menu_title" translate="mainMenu.content"></span>
                    </a>
                    <a ng-switch-when="false" href="#" ng-click="submenuToggle($event)">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="sections[0].icon"></i></span>
                        <span class="menu_title" translate="mainMenu.content"></span>
                    </a>
                    <ul ng-if="sections[0].submenu">
                        <li ng-if="sections[0].submenu_title" class="submenu-title">{{sections[0].submenu_title}}</li>
                        <li ng-repeat-start="item in sections[0].submenu" ng-if="item.group" class="menu_subtitle">{{item.group}}</li>
                        <li ng-repeat-end ng-class="{'hideSubmenuArrow':item.hideSubmenu, act_item: $state.includes(item.link) || item.isActive(), 'submenu_trigger': (item.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.submenu.length > 0) && miniSidebarActive }" ng-include="'/submenuTree.html'"></li>
                    </ul>
                </li>

                <li ui-sref-active="current_section" ng-click="section.click()" ng-repeat="section in sections.slice(1,sections.length)" ng-switch="section.link.length > 0" 
                    ng-class="{'current_section':section.isActive(),'submenu_trigger': (section.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (section.submenu.length > 0) && miniSidebarActive}" 
                    on-last-repeat>
                    <a ng-switch-when="true"  ui-sref="{{::section.link}}" ui-sref-opts="::{{section.linkOpts}}" ng-class="{'menu_tooltip' : miniSidebarActive}">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="section.icon"></i></span>
                        <span class="menu_title">{{::section.title}}</span>
                    </a>
                    <a ng-switch-when="false" href="#" ng-click="submenuToggle($event)">
                        <span class="menu_icon"><i class="material-icons" ng-bind-html="section.icon"></i></span>
                        <span class="menu_title">{{::section.title}}</span>
                    </a>
                    <ul ng-if="section.submenu">
                        <li ng-if="section.submenu_title" class="submenu-title">{{section.submenu_title}}</li>
                        <li ng-repeat-start="item in section.submenu" ng-if="item.group" class="menu_subtitle">{{item.group}}</li>
                        <li ng-repeat-end ng-class="{'hideSubmenuArrow':item.hideSubmenu, act_item: $state.includes(item.link) || item.isActive(), 'submenu_trigger': (item.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.submenu.length > 0) && miniSidebarActive }" ng-include="'/submenuTree.html'"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <script type="text/ng-template" id="/submenuTree.html">
        <a ng-if="item.link" ui-sref="{{::item.link}}" ui-sref-opts="::{{item.linkOpts}}">
            <i class="material-icons" ng-click="item.iconClick($event, item)" ng-bind-html="item.icon"></i>
                {{::item.title}} 
            <i ng-show="item.click && item.loading" class="uk-icon-spinner uk-icon-spin"></i>
        </a>
        <a ng-if="!item.link" href="#" ng-click="submenuToggle($event)">
            <i class="material-icons" ng-click="item.iconClick($event, item)" ng-bind-html="item.icon"></i>
            {{::item.title}}
            <i ng-show="item.click && item.loading" class="uk-icon-spinner uk-icon-spin"></i>
        </a>
        <ul ng-if="item.submenu">
            <li ng-class="{'act_item' : item.isActive()}" ng-repeat="item in item.submenu" ng-click="item.click()" ng-include="'/submenuTree.html'" 
                ng-class="{'hideSubmenuArrow':item.hideSubmenu, act_item: item.path == state.params.list, 'submenu_trigger': (item.submenu.length > 0 || item.click) && !miniSidebarActive && !item.loading, 'sidebar_submenu': (item.submenu.length > 0) && miniSidebarActive }">
            </li>
        </ul>
    </script>