<md-input-container class="md-block" md-is-error="form[field.path].$invalid">
        <label ng-class="{'md-required' : field.options.required}">Email</label>
        <input type="email" ng-required="field.options.required" name="{{field.path}}" ng-model="ngModel">
        <div ng-messages="form[field.path].$error">
          <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
          <div ng-message="email" translate="fieldsTexts.invalidEmail">Invalid email address.</div>
        </div>
</md-input-container>