<div class="uk-grid" style="direction:ltr;">
    
    <div  class="uk-width-medium-1-2">
        <ul class="uk-subnav uk-subnav-pill">
            <li ng-repeat="type in types track by $index" ng-class="{'uk-active':currentType.id==type.id}" ng-click="setType(type)"><a href="" ng-bind="type.key"></a></li>  
        </ul>
    </div>
    
    <div  class="uk-width-medium-1-2">
        <div class="uk-grid">
            
            
            <div  class="uk-width-medium-1-2 uk-input-group">
                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                <label for="uk_dp_1">Start date</label>
                <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="dates.startDate">
            </div>  
            
            <div  class="uk-width-medium-1-2 uk-input-group" ng-show="currentType.id>3">
                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                <label for="uk_dp_1">End date</label>
                <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="dates.endDate">  
            </div>
            
        </div>
    </div>
    
    
</div>