<div class="uk-grid">
            <div  class="uk-width-medium-1-2 uk-input-group">
                <div class="md-input-wrapper">
                    <label>First Name</label>
                    <input type="text" ng-model="ngModel.first" class="md-input md-input-processed" ng-required="field.options.required" md-input="">
                    <span class="md-input-bar "></span>
                </div>
            </div>  
            
            <div  class="uk-width-medium-1-2 uk-input-group">
                <div class="md-input-wrapper">
                    <label>Last Name</label>
                    <input type="text" ng-model="ngModel.last" class="md-input md-input-processed" md-input="">
                    <span class="md-input-bar "></span>
                </div>  
            </div>
</div>