<div class="uk-grid">
            <div  class="uk-width-medium-1-2 uk-input-group">
                <md-input-container class="md-block" md-is-error="form[path+'.phone'].$invalid">
                        <label ng-class="{'md-required' : isRequired}">Phone</label>
                        <input type="text" ng-required="isRequired" name="{{path}}.phone" ng-model="ngModel.phone">
                        <div ng-messages="form[field.path+'.phone'].$error">
                            <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
                        </div>
                </md-input-container>
            </div>  
            
            <div  class="uk-width-medium-1-2 uk-input-group">
                <md-input-container class="md-block">
                        <label>Virtual Phone</label>
                        <input type="text" name="{{path}}.virtualPhone" ng-model="ngModel.virtualPhone">
                </md-input-container>
                
                
                <!--<div class="md-input-wrapper">
                    <label>Virtual Phone</label>
                    <input type="text" ng-model="ngModel.virtualPhone" class="md-input md-input-processed" md-input="">
                    <span class="md-input-bar "></span>
                </div>-->  
            </div>
</div>