<!--<div class="md-input-wrapper">
    <label>Password</label>
    <input type="password" ng-model="ngModel" class="md-input md-input-processed" ng-required="field.options.required" md-input="">
    <span class="md-input-bar "></span>
</div>-->

<div>
  <a ng-hide="showNew" class="md-btn md-btn-success md-btn-wave-light uk-float-left ng-hide" ng-click="showEdit()" translate="passwordField.changePassword">Change Password</a>

  <div ng-show="showNew" class="ng-hide">
    <md-input-container class="md-block" md-is-error="form[field.path].$invalid">
      <label class="md-required" translate="passwordField.newPassword">New Password</label>
      <input type="password" ng-required="showNew || field.options.required" name="{{field.path}}" ng-model="ngModel.password">
      <div ng-messages="form[field.path].$error">
        <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block" md-is-error="form[field.path + '_confirm'].$invalid">
      <label class="md-required" translate="passwordField.confirmPassword">Confirm Password</label>
      <input type="password" ng-match="ngModel.password" ng-required="showNew || field.options.required" name="{{field.path + '_confirm'}}"
        ng-model="ngModel.password_confirm">
      <div ng-messages="form[field.path + '_confirm'].$error">
        <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
        <div ng-message="match" translate="fieldsTexts.passwordMatch">Password confirm must match password.</div>
      </div>
    </md-input-container>
  </div>
</div>