<md-toolbar class="_md" style="background-color: rgb(175, 28, 28);">
    <div class="md-toolbar-tools">
        <h2 style="color: rgba(255,255,255,0.87);" translate="errorModal.title">Error:</h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="close()">
            <i class="material-icons">&#xE14C;</i>
        </button>
    </div>
</md-toolbar>
<div>
    <error-view errors="errors"></error-view>
</div>
