<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid">
            <h2 class="uk-width-medium-4-6">{{originalModelName}} ({{::(list.list.options.singular || list.list.options.label)}})</h2>
            <div class="uk-width-medium-2-6 item-options ng-hide" ng-show="langs && list.list.options.langs !== false">
                <md-input-container>
                    <label translate="itemView.language">Language</label>
                    <md-select ng-model="currentLang">
                        <md-option ng-repeat="lang in ::langs" ng-value="lang">
                            {{::lang}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div class="md-card" ng-form="editForm">
            <div class="md-card-content">
                <div ng-show="showTrack" class="ng-hide uk-clearfix uk-margin-small-bottom item-meta">
                    <div>
                        <span>Created</span>
                        <span ng-bind="::createdDate"></span>
                    </div>
                    <div>
                        <span>by</span>
                        <span ng-bind="::item.track.createdBy.value"></span>
                    </div>
                    <div>
                        <span>Updated</span>
                        <span ng-bind="::updatedDate"></span>
                    </div>
                    <div>
                        <span>by</span>
                        <span ng-bind="::item.track.updatedBy.value"></span>
                    </div>
                </div>
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim2', animation:'slide-horizontal', swiping:false}">
                    <li ng-repeat="(key, value) in tabs" ng-class="{'uk-active':key==currentTab}" ng-click="setCurrentTab(key,value)">
                        <a ng-bind="key"></a>
                    </li>
                    <li ng-repeat="relationship in ::item.relationships" ng-class="{'uk-active':'cms-relationships-'+relationship.path == currentTab}"
                        ng-click="setCurrentTab('cms-relationships-'+relationship.path)">
                        <a ng-bind="::(relationship.label || relationship.list.options.label)"></a>
                    </li>
                </ul>
                <ul id="tabs_anim2" class="uk-switcher uk-margin">
                    <li ng-repeat="(key, value) in ::tabs">
                        <div class="uk-grid" style="padding: 5px;">
                            <div ng-repeat="(fieldPath, fieldData) in ::value" ng-hide="hideField(fieldPath)" class="uk-grid uk-width-medium-1-1">
                                <div class="uk-width-medium-2-10 fieldMeta">
                                    <h3 class="uk-width-medium-1-2" ng-bind="::(list.list.fields[fieldPath].options.label || list.list.fields[fieldPath].label)"></h3>

                                    <div ng-show="::(list.list.fields[fieldPath].binds && list.list.fields[fieldPath].binds.length)" class="uk-width-medium-1-4">
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" ng-click="openBindings(list.list.fields[fieldPath].binds, $event)">
                                            <i class="material-icons">link</i>
                                        </a>
                                    </div>

                                    <div ng-show="::(fieldData.bindable && !list.list.fields[fieldPath].options.noedit)" class="uk-width-medium-1-4" ng-dropdown-multiselect=""
                                        options="::getFieldBindOptions(fieldData, fieldPath)" path="{{::fieldPath}}" selected-model="bindings[fieldPath].selected"
                                        group-by="modelName" events="bindings[fieldPath].events" extra-settings="multiselect.settings"
                                        translation-texts="multiselect.texts"></div>
                                </div>

                                <div ng-if="fieldData.bindable && model._bindingMap[fieldPath].mode==bindingModes.BINDS" class="uk-width-medium-8-10 binds-display">
                                    <div class="bind-overlapper"></div>
                                    <div class="uk-width-medium-1-1" ng-repeat="bind in bindings[fieldPath].selectedModels track by bind.id">
                                        <div dynamic-directive="(bind.type || 'objectid')+ '-field'" model="model" field="bind.bindList.fields[bind.innerPath]" ng-model="bind.data"
                                            list="bind.bindList" form="editForm" tab-key="key" model-id="bind.modelId" val="bind.data"></div>
                                    </div>
                                </div>

                                <div ng-show="!fieldData.bindable || (fieldData.bindable && model._bindingMap[fieldPath].mode==bindingModes.OVERRIDE)" class="uk-width-medium-8-10"
                                    dynamic-directive="(list.list.fields[fieldPath].type || 'objectid')+(list.list.fields[fieldPath].options.noedit ? '-column' : '-field')"
                                    field="list.list.fields[fieldPath]" model="model" ng-model="model[list.list.fields[fieldPath].path]" list="list.list"
                                    form="editForm" tab-key="key" model-id="model.id" val="model[list.list.fields[fieldPath].path]"></div>
                            </div>
                        </div>
                    </li>

                    <!-- Relationships Tab -->
                    <li ng-repeat="relationship in ::item.relationships">
                        <div style="padding: 5px;">
                            <div class="uk-overflow-container">
                                <!-- Relationship Table -->
                                <div class="uk-grid">
                                    <h3 class="uk-width-medium-4-6" ng-bind="::relationship.list.options.label"></h3>
                                    <div class="uk-width-medium-2-6" ng-hide="::relationship.list.options.nocreate">
                                        <a class="md-btn md-btn-success md-btn-wave-light uk-float-right" ng-click="openInitial(relationship, $event)">Create {{::(relationship.list.options.singular||relationship.list.options.label)}}</a>
                                    </div>
                                </div>

                                <table class="uk-table uk-table-nowrap">
                                    <thead>
                                        <tr>
                                            <th width="25" ng-if="::(!relationship.list.options.nodelete)"></th>
                                            <th ng-repeat="col in ::relationship.columns">
                                                <span ng-bind="::col.label" auto-direction></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in relationship.items.results track by item.id">
                                            <td width="25" ng-if="::(!relationship.list.options.nodelete)" class="removeIcon" ng-click="deleteRelatedItem(relationship, item.id,$index,$event)">
                                                <i class="material-icons">&#xE872;</i>
                                            </td>
                                            <td ng-repeat="col in ::relationship.columns" ng-click="goToItem(relationship,item)">
                                                <div dynamic-directive="(col.type || 'objectid')+'-column'" ng-model="item.fields[col.path]" field="relationship.list.fields[col.path]"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="item-footer uk-clearfix uk-margin-large-top">
                    <md-button ng-hide="list.list.options.noedit || list.list.options.revision" ng-click="update($event)" ng-disabled="editForm.$invalid" class="md-raised md-primary uk-float-right">
                        <span translate="itemView.update">Update</span>
                    </md-button>
                    
                    <md-button ng-hide="list.list.options.noedit || !list.list.options.revision" ng-click="update($event, true)" ng-disabled="editForm.$invalid" class="md-raised md-btn-success md-primary uk-float-right">
                        <span translate="itemView.updateAndPublish">Update and Publish</span>
                    </md-button>

                    <md-button ng-hide="list.list.options.noedit || !list.list.options.revision" ng-click="update($event)" ng-disabled="editForm.$invalid" class="md-raised md-primary uk-float-right">
                        <span translate="itemView.updateDraft">Save Draft</span>
                    </md-button>

                    <md-button ng-hide="list.list.options.nodelete" ng-click="deleteItem()" class="md-raised md-btn-danger md-warn uk-float-left">
                        <i class="material-icons">&#xE92B;</i>
                        <span translate="itemView.delete">DELETE</span>
                    </md-button>

                    <md-button 
                        ng-hide="list.list.options.noedit || !list.list.options.revision" 
                        ng-disabled="item.revId==item.publishedRevId"
                        ng-click="revertToPublished()" 
                        class="md-raised md-warn uk-float-right">
                        
                        <i class="material-icons">&#xE166;</i>
                        <span translate="itemView.revertToPublish"></span>

                    </md-button>

                    
                    <a translate="itemView.resetChanges" ng-hide="list.list.options.noedit || list.list.options.revision" ng-click="resetChanges()" class="md-btn md-btn-flat md-btn-flat-danger md-btn-wave waves-effect waves-button uk-float-right">
                        Reset Changes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>