<div class="md-bg-pink-50" ng-show="errors">
   <h2 ng-hide="hideTitle" ng-bind="errors.message" class="uk-text-danger"></h2>
   <ul>
       <li class="uk-text-danger" ng-repeat="(key,value) in errors.errors" ng-bind="value.message"></li>
   </ul>
</div>  