<div>
  <div class="uk-clearfix">
    <md-button ng-click="openPicker()" aria-label="open image picker" class="md-raised md-primary uk-float-left" ng-bind="btnText"></md-button>
  </div>
  <div class="uk-grid selectedImages uk-margin-small-top" ng-show="!field.options.multiple && ngModel.src">
    <div class="uk-width-medium-1-5">
      <img ng-if="ngModel && ngModel.src" ng-src="{{baseImageUrl + ngModel.src}}">
      <md-input-container class="md-block">
        <label>כותרת</label>
        <input type="text" ng-model="ngModel.title">
      </md-input-container>
      <md-input-container class="md-block">
        <label>alt</label>
        <input type="text" ng-model="ngModel.alt">
      </md-input-container>
      <md-input-container class="md-block">
        <label>description</label>
        <input type="text" ng-model="ngModel.description">
      </md-input-container>
      <md-input-container class="md-block">
        <label>קרדיט</label>
        <input type="text" ng-model="ngModel.credit">
      </md-input-container>
      <md-button ng-click="removeImage()" class="md-warn">הסרה</md-button>
    </div>
  </div>
  <div class="uk-grid selectedImages uk-margin-small-top" dnd-list="ngModel" dnd-horizontal-list="true">

    <div class="uk-width-medium-1-5 dndPlaceholder"></div>

    <div class="uk-width-medium-1-5" ng-show="::isMultiple" ng-repeat="img in ngModel" dnd-draggable="img" dnd-effect-allowed="move"
      dnd-moved="ngModel.splice($index, 1);">
      <img ng-src="{{baseImageUrl + img.src}}">
      <md-input-container class="md-block">
        <label>כותרת</label>
        <input type="text" ng-model="img.title">
      </md-input-container>
      <md-input-container class="md-block">
        <label>alt</label>
        <input type="text" ng-model="img.alt">
      </md-input-container>
      <md-input-container class="md-block">
        <label>description</label>
        <input type="text" ng-model="img.description">
      </md-input-container>
      <md-input-container class="md-block">
        <label>קרדיט</label>
        <input type="text" ng-model="img.credit">
      </md-input-container>
      <md-button ng-click="removeImage($index)" class="md-warn">הסרה</md-button>
    </div>
  </div>
</div>

</div>
</div>