<div class="md-input-filled">
    <md-chips ng-model="selectedOptions" md-autocomplete-snap ng-if="field.many" md-require-match="autocompleteRequireMatch"
        md-on-add="chipAdded($chip)" 
        md-on-remove="chipRemoved($chip, $index)" name="{{fieldData.path}}">
        <md-autocomplete md-no-cache="true" md-selected-item="ctrl.selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)"
            md-item-text="item.name" md-min-length="0" placeholder="{{fieldData.placeholder}}">
            <md-item-template>
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <span>
          <strong>{{$chip.name}}</strong>
        </span>
        </md-chip-template>
    </md-chips>


    <md-autocomplete md-no-cache="true" ng-if="!field.many" ng-class="{'ng-invalid' : form[fieldData.path].$invalid}"
        ng-required="field.options.required" md-search-text-change="searchChanged(selectedItem, searchText)"
        md-selected-item="selectedItem" md-search-text="searchText" md-selected-item-change="selectedChanged(selectedItem)"
        md-items="item in getMatches(searchText)" md-item-text="item.name" md-min-length="0" md-input-name="{{fieldData.path}}"
        placeholder="{{fieldData.placeholder}}">
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>


    <div ng-messages="form[fieldData.path].$error">
        <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
    </div>
</div>