<!--<div class="md-input-wrapper">
    <label ng-bind="field.label"></label>
    <input type="text" ng-model="ngModel" class="md-input md-input-processed" ng-required="field.options.required" md-input="">
    <span class="md-input-bar "></span>
</div>-->
<md-input-container class="md-block" md-is-error="form[field.path].$invalid">
        <label ng-bind="field.label" ng-class="{'md-required' : field.options.required}"></label>
        <input ng-style="inputStyle" type="text" ng-required="field.options.required" name="{{field.path}}" ng-model="ngModel">
        <div ng-messages="form[field.path].$error">
          <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
        </div>
</md-input-container>