<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <div class="md-card-content large-padding" id="login_form">
            <div class="login_heading">
                <div class="user_avatar"></div>
            </div>
            <form name="loginForm" ng-enter="signin()">
                <md-input-container class="md-block">
                    <label class="md-required">Email</label>
                    <input ng-focus="hideFailMsg()" type="text" required name="email" ng-model="model.email">
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label class="md-required">Password</label>
                    <input ng-focus="hideFailMsg()" type="password" required name="password" ng-model="model.password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required" translate="fieldsTexts.required">This is required.</div>
                    </div>
                </md-input-container>
                <md-button ng-click="signin()" ng-disabled="loginForm.$invalid" class="md-raised md-primary md-btn-block md-btn-large">Sign In</md-button>
                <div class="uk-margin-top">
                    <span class="icheck-inline">
                            <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" icheck ng-model="login_signed" />
                            <label for="login_page_stay_signed" class="inline-label">Stay signed in</label>
                        </span>
                </div>
                <div class="md-bg-pink-50 ng-hide" ng-show="signinFail" aria-hidden="false">
                    <h3 class="uk-text-danger">Email or password are incorrect</h3>
                </div>
            </form>
        </div>
    </div>
</div>