<div class="md-input-wrapper">
    <label ng-bind="field.label"></label>
    <input type="number" ng-model="ngModel" class="md-input md-input-processed" ng-required="field.options.required" md-input="">
    <span class="md-input-bar "></span>
</div>