/*
*  Altair Admin AngularJS RTL
*  author: tzd
*
*  Content:
*    1. variables/mixins
*    2. UIkit custom styles
*    3. Kendo UI custom styles
*    4. custom components
*    5. material design styles
*    6. plugins
*    7. partials (header,sidebars,top bar)
*    8. pages
*    9. altair admin styles
*    10. print styles
*    11. angularjs
*    12. RTL
*
*/

/* 1. altair variables/mixins ======================== */
    @import (reference) "_variables_mixins";

/* 2. UIkit custom styles ============================ */
    @import "_uikit_custom";

/* 3. Kendo UI custom styles ========================= */
    @import "_kendo_ui_custom";

/* 4. custom components ============================== */
    @import "components/_preloaders";
    @import "components/_timeline";

/* 5. material design styles ========================= */
    @import "md/md_main";

/* 6. plugins ======================================== */
    // altair plugins
    @import "plugins/_altair_plugins";
    // metrics graphics
    @import "plugins/_metrics_graphics";
    // c3 charts
    @import "plugins/_c3_charts";
    // clndr
    @import "plugins/_clndr";
    // peity charts
    @import "plugins/_peity";
    // gmaps
    @import "plugins/_gmaps";
    // easy-pie-chart
    @import "plugins/_easy_pie_chart";
    // icheck
    @import "plugins/_icheck";
    // prism syntax highlighter
    @import "plugins/_prism";
    // custom scrollbar
    @import "plugins/_custom_scrollbar";
    // selectize
    @import "plugins/_selectize";
    // codemirror
    @import "plugins/_codemirror";
    // switchery
    @import "plugins/_switchery";
    // ionrangeSlider
    @import "plugins/_ionrangeSlider";
    // parsley (validation)
    @import "plugins/_parsley";
    // datatables
    @import "plugins/_datatables";
    // fullcalendar
    @import "plugins/_fullcalendar";
    // vector maps
    @import "plugins/_vector_maps";
    // file input
    @import "plugins/_fileinput";
    // gantt chart
    @import "plugins/_gantt_chart";
    // chartist
    @import "plugins/_chartist";
    // dragula.js (sortable)
    @import "plugins/_dragula";
    // tablesorter
    @import "plugins/_tablesorter";
    // waves
    @import "plugins/_waves";
    // dropify
    @import "plugins/_dropify";

/* 7. partials (header,sidebars,top bar) ============= */
    // main header
    @import "partials/_header_main";
    // sidebars
    @import "partials/_sidebars";
    // top bar
    @import "partials/_top_bar";
    // page heading
    @import "partials/_page_heading";
    // top dropdown menu
    @import "partials/_menu_top_dropdown";
    // top menu
    @import "partials/_menu_top";
    // breadcrumbs
    @import "partials/_breadcrumbs";
    // footer
    @import "partials/_footer";

/* 8. custom pages =================================== */
    // user profile
    @import "pages/_user_profile";
    // scrum board
    @import "pages/_scrum_board";
    // chat
    @import "pages/_chat";
    // error
    @import "pages/_error_page";
    // login
    @import "pages/_login_page";
    // blog
    @import "pages/_blog";
    // filemanager
    //@import "pages/_filemanager";
    // gallery
    @import "pages/_gallery";
    // pricing tables
    @import "pages/_pricing_table";
    // invoices
    @import "pages/_invoices";
    // search page
    @import "pages/_search_page";
    
    @import "pages/_list_page";

/* 9. altair main styles ============================= */
    @import "_altair_admin";

/* 10. print styles ================================== */
    @import "_print";

/* 11. angularjs ==================================== */
@import "angular/_app";
@import "angular/_wizard";

/* 12. RTL ========================================== */
@import "_rtl";

@import "_bootstrap_btn";
@import "angularjs-color-picker";



ul.uk-switcher{
    overflow: initial;
}

div[ng-form="editForm"]{
    ul.uk-switcher{
        overflow: hidden;
    }   
}

.md-scroll-mask{
    display: none !important;
}
body:not(.md-dialog-is-showing) {
    position: static !important;
}

.md-autocomplete-suggestions-container{
    max-height: none !important;
    height : auto !important;
    &.md-virtual-repeat-container{ 
        .md-virtual-repeat-scroller{
            bottom: initial;
            position: relative;
        }
        .md-virtual-repeat-sizer {
            min-height: 48px;
        }
    }
}

[ng-form="editForm"]>.md-card-content{
    .item-footer{
        >a {
            margin-top: 6px;
            height: 36px;
        }
    }
    ul[id^="tabs"]>li.uk-active{
        padding-bottom: 52px;
    }
    &:not(.fixed){
        .item-footer{
            width: 99% !important;
            margin-left: auto !important;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px;
        }
    }
    &.fixed .item-footer{
        z-index: 2;
        height: 53px;
        position: fixed;
        bottom: 0;
        background-color: white;
        left: 0;
        margin: 0 24px;
    }
}

.placehodler(@rules){
    	&::-webkit-input-placeholder {
		@rules();
	}
	&:-moz-placeholder {
		@rules();
	}

	&::-moz-placeholder {
		@rules();
	}

	&:-ms-input-placeholder {
		@rules();
	}
}

md-chips.ng-invalid {
        +[ng-messages]{
            color: rgb(221,44,0);
        }
        md-chips-wrap{
            box-shadow: 0 1px rgb(230, 55, 55);
        }
        input{
            .placehodler({ font-weight: bold; color: rgb(255, 0, 0); });
        }
}

md-autocomplete.ng-invalid{
    md-autocomplete-wrap{
        &.md-whiteframe-1dp, &.md-whiteframe-z1{
            box-shadow: 0px 1px 3px 0px rgba(234, 31, 31, 0.2), 0px 1px 1px 0px rgba(226, 60, 60, 0.14), 0px 2px 1px -1px rgba(216, 70, 70, 0.12);
            background-color: rgba(193, 43, 69, 0.06);
        }
    }
    +[ng-messages]{
            color: rgb(221,44,0);
    }
}


md-input-container.md-input-invalid{
    .md-select-value{
        color: rgb(221,44,0) !important;
        border-bottom-color: rgb(221,44,0) !important;
        >span:first-child{
            font-size: 16px;
            &:after{
                content: ' *';
                font-size: 13px;
                vertical-align: top;
            }
        }
    }
}


//#tabs_anim2 > li.ng-scope.uk-active > div > div:nth-child(20) > div > div > md-chips > md-chips-wrap > div > md-autocomplete > md-autocomplete-wrap

.textarray-field{
    .material-icons.md-24{
        vertical-align: 0px;
        cursor: pointer;
    }
    md-input-container{
        margin: 0;
    }

}

[ng-form="editForm"]>div>h3{
    margin-top: 1.2em;
    text-align: center;
}

form[name="loginForm"] div.md-bg-pink-50>h3{
    text-align: center;
    padding: 10px 5px;
}

.item-meta{
    direction: ltr;
    padding: 5px;
    color: #aaa;
    background: #fafafa;
    border-left: 4px solid #eaeaea;
    >div {
        display: inline-block;
        margin-right: 10px;
        >span {
            display: inline-block;
            &:first-child {
                color: #ccc;
                padding-right: 10px;
            }
        }
    }
}

.dateField{
    .uk-input-group {
        float: right;
    }
}

.relationshipColumn{
    a:not(:last-child){
        margin-left: 15px
    }
}

aside#sidebar_main .menu_section ul{
    li:not(.hideSubmenuArrow){
        >a>i.submenuOpen{
            display: none
        }    
    }
    >li.hideSubmenuArrow.submenu_trigger>a:before{
        content : ''
    }
}

#sidebar_main .menu_section>ul{
    li.submenu_trigger{
        a:before{
            -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
        }
        &.act_section>a:before{
            transform: rotate(-180deg) !important;
            -webkit-transform: rotate(-180deg) !important;
        }
    }       
}

.externalIframe{
    width: 100%;
    height: ~"calc(100vh - 54px)";
    overflow-y: auto;
}

.binds-display{
    position: relative;
    .bind-overlapper{
        width: 100%;
        height: 100%;
        margin-right: -35px;
        position: absolute;
        z-index: 1;
        background-color: rgba(128, 128, 128, 0.15);
    }
}

.uk-tab>li{
    outline: none;
}

.dropdown-multiselect .dropdown-menu{
    z-index: 1205;
}