

        Release notes - SFT CMS - Version 1.5.5
    
        <h2>        Story
        </h2>
        <ul>
        <li>Update locale to he
        </li>
        </ul>
        Release notes - SFT CMS - Version 1.5.4
    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-389'>SFTCMS-389</a>] -         Facebook integration issues with login
        </li>
        </ul>
        

        Release notes - SFT CMS - Version 1.5.3
    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-388'>SFTCMS-388</a>] -         update Tapuz delivery web services endpoint
        </li>
        </ul>
        
Release notes - SFT CMS - Version 1.5.2
    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-387'>SFTCMS-387</a>] -         updadte irs sdk
        </li>
        </ul>
        

        Release notes - SFT CMS - Version 1.5.1
                    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-386'>SFTCMS-386</a>] -         Update geoip-country library 
        </li>
        </ul>
                                    

        Release notes - SFT CMS - Version 1.5.0
                    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-385'>SFTCMS-385</a>] -         Maskyoo API get calls  should not return with black listed numbers
        </li>
        </ul>
                            
        Release notes - SFT CMS - Version 1.4.0
                    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-384'>SFTCMS-384</a>] -         Maskyoo - Support SMS API
        </li>
        </ul>
                                            
        Release notes - SFT CMS - Version 1.3.9
            
        <h2>        Bug
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-383'>SFTCMS-383</a>] -         Relationship field - multiple not accounting relationDisplayKey
        </li>
        </ul>
        <br><br><hr>                                
        Release notes - SFT CMS - Version 1.3.8
            
        <h2>        Bug
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-287'>SFTCMS-287</a>] -         Image Picker on initial create popup close the create popup 
        </li>
        </ul>
        <br><br><hr>                                                             
        Release notes - SFT CMS - Version 1.3.7
            
        <h2>        Bug
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-382'>SFTCMS-382</a>] -         Session IDs are not unique
        </li>
        </ul>
                
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-381'>SFTCMS-381</a>] -         Upgrade mongoose to 5.1.7
        </li>
        </ul>
        <br><br><hr>                         
        Release notes - SFT CMS - Version 1.3.6
                    
        <h2>        Story
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-380'>SFTCMS-380</a>] -         Add methods to Maskyoo SDK
        </li>
        </ul>
        <br><br><hr>                      
        Release notes - SFT CMS - Version 1.3.5
            
        <h2>        Bug
        </h2>
        <ul>
        <li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-379'>SFTCMS-379</a>] -         Relationships do not display with revisions
        </li>
        </ul>
        <br><br><hr>                                  
        Release notes - SFT CMS - Version 1.3.4
            
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-378'>SFTCMS-378</a>] -         IRS SDK - Add individual asset method
</li>
</ul>
<br><br><hr>                         
        Release notes - SFT CMS - Version 1.3.3
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-377'>SFTCMS-377</a>] -         Auth - Support facebook token login
</li>
</ul>
     <br><br><hr>                       
        
Release notes - SFT CMS - Version 1.3.2
            
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-376'>SFTCMS-376</a>] -         Activetrial API - Add assign to group feature
</li>
</ul>
<br><br><hr>                           
Release notes - SFT CMS - Version 1.3.1
            
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-375'>SFTCMS-375</a>] -         Change IRS integration
</li>
</ul>
<br><br><hr>                   

Release notes - SFT CMS - Version 1.3.0
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-373'>SFTCMS-373</a>] -         Relationship column - value not displayed if custom view field
</li>
</ul>
    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-374'>SFTCMS-374</a>] -         Admin UI - add version hash to css/js files
</li>
</ul>
                  <br><br><hr>                
        Release notes - SFT CMS - Version 1.2.16
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-372'>SFTCMS-372</a>] -         Relationship field - filter by another field does not work in initial
</li>
</ul>
                    <br><br><hr>             
        Release notes - SFT CMS - Version 1.2.15
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-371'>SFTCMS-371</a>] -         Relationship field - support filter by another field
</li>
</ul>
          <br><br><hr>                   
        Release notes - SFT CMS - Version 1.2.14
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-370'>SFTCMS-370</a>] -         System fail to start without Tapuz config
</li>
</ul>
                 <br><br><hr>                  
        Release notes - SFT CMS - Version 1.2.13
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-369'>SFTCMS-369</a>] -         Body Parser - Allow set limit setting
</li>
</ul>
                 <br><br><hr>        
                   
        Release notes - SFT CMS - Version 1.2.12
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-368'>SFTCMS-368</a>] -         Tapuz Delivery SDK - endoce endopoint url
</li>
</ul>
                
<br><br><hr>        
        
        Release notes - SFT CMS - Version 1.2.11
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-366'>SFTCMS-366</a>] -          Tapuz Delivery SDK - Add logger vairable
</li>
</ul>
<br><br><hr>          

Release notes - SFT CMS - Version 1.2.10

<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-365'>SFTCMS-365</a>] -         Tapuz Delivery SDK - remove invalid chars
</li>
</ul>


<br><br><hr>   
        Release notes - SFT CMS - Version 1.2.9
        
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-364'>SFTCMS-364</a>] -         Add Tapuz Delivery SDK
</li>
</ul>

<br><br><hr>   
        
        Release notes - SFT CMS - Version 1.2.8
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-363'>SFTCMS-363</a>] -         Email Service - add support for SES transport
</li>
</ul>
        <br><br><hr>                      
        Release notes - SFT CMS - Version 1.2.7
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-361'>SFTCMS-361</a>] -         Change side menu accordion arrows directions
</li>
</ul>
                    <br><br><hr>                   
        Release notes - SFT CMS - Version 1.2.6
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-359'>SFTCMS-359</a>] -         Elfinder - CDN scripts always served using http
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-360'>SFTCMS-360</a>] -         Facebook auth - params not working with slash
</li>
</ul>
         <br><br><hr>                         
        
        Release notes - SFT CMS - Version 1.2.5
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-333'>SFTCMS-333</a>] -         Add query params to call back url when login with Social connect
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-358'>SFTCMS-358</a>] -         Validation Popups
</li>
</ul>
        <br><br><hr>                      
        Release notes - SFT CMS - Version 1.2.4
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-357'>SFTCMS-357</a>] -         Revisions - Change item view buttons order and color
</li>
</ul>   <br><br><hr>  
                            
        Release notes - SFT CMS - Version 1.2.3
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-356'>SFTCMS-356</a>] -         Revision - Cannot delete revisioned item
</li>
</ul>
                    <br><br><hr>                    
        Release notes - SFT CMS - Version 1.2.2
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-354'>SFTCMS-354</a>] -         Item View - Add inidication that draft is ahead of published
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-355'>SFTCMS-355</a>] -         Item View - Add &quot;Revert To Published&quot; button
</li>
</ul>
            <br><br><hr>                         
        Release notes - SFT CMS - Version 1.2.1
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-352'>SFTCMS-352</a>] -         Revisions - Hold only 10 latest revisions
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-353'>SFTCMS-353</a>] -         Revisioned Item Page - change buttons text
</li>
</ul>
            <br><br><hr>                     
        Release notes - SFT CMS - Version 1.2.0
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-316'>SFTCMS-316</a>] -         Support revisions and draft mode
</li>
</ul>
            <br><br><hr>  

                    Release notes - SFT CMS - Version 1.1.37
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-359'>SFTCMS-359</a>] -         Elfinder - CDN scripts always served using http
</li>
</ul>

<br><br><hr> 

        Release notes - SFT CMS - Version 1.1.36
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-350'>SFTCMS-350</a>] -         IRS SDK - Get assets by distance
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-351'>SFTCMS-351</a>] -         IRS SDK - Add google reverse geocode results
</li>
</ul>
            <br><br><hr>                     
        Release notes - SFT CMS - Version 1.1.35
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-349'>SFTCMS-349</a>] -         Elfinder - thumbnails display only small part of and image
</li>
</ul>
                  <br><br><hr>                    
        Release notes - SFT CMS - Version 1.1.34
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-346'>SFTCMS-346</a>] -         Elfinder - After adding new image it sometimes do not appear
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-347'>SFTCMS-347</a>] -         Elfinder - the popup width not constant
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-345'>SFTCMS-345</a>] -         IRS SDK - geocode using govmap instead google
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-348'>SFTCMS-348</a>] -         List Page - Change cursor while mouse over any of the rows
</li>
</ul>
         <br><br><hr>                   
        Release notes - SFT CMS - Version 1.1.33.4
        
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-341'>SFTCMS-341</a>] -         Reminder - Update Knox package to a stable version
</li>
</ul>

 <br><br><hr>   
Release notes - SFT CMS - Version 1.1.33.3

<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-343'>SFTCMS-343</a>] -         CLONE 2 - Change package json to Knox's commit that dependes on Mime's 1.4.0 version
</li>
</ul>
 <br><br><hr>   
        
        Release notes - SFT CMS - Version 1.1.33.2
        
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-342'>SFTCMS-342</a>] -         CLONE - Change package json to Knox's commit that dependes on Mime's 1.4.0 version.
</li>
</ul> <br><br><hr>   
        
        Release notes - SFT CMS - Version 1.1.33.1
        
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-340'>SFTCMS-340</a>] -         Change package json to Knox&#39;s commit that dependes on Mime&#39;s 1.4.0 version.
</li>
</ul>
              <br><br><hr>                  
        
        Release notes - SFT CMS - Version 1.1.33
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-339'>SFTCMS-339</a>] -         IRS - not feating the results sometimes
</li>
</ul>
                                
        
  <br><br><hr>     
Release notes - SFT CMS - Version 1.1.32
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-338'>SFTCMS-338</a>] -         IRS - Add deal date time to historical deals
</li>
</ul>
                   <br><br><hr>            
        Release notes - SFT CMS - Version 1.1.31
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-337'>SFTCMS-337</a>] -         IRS - Add deal date to historical deals
</li>
</ul>
                     <br><br><hr>             


        Release notes - SFT CMS - Version 1.1.30
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-336'>SFTCMS-336</a>] -         Add IRS SDK
</li>
</ul>
         <br><br><hr>                
        Release notes - SFT CMS - Version 1.1.29
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-335'>SFTCMS-335</a>] -         Admin - Get list metadat fails if bind has inherited lists
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-334'>SFTCMS-334</a>] -         expose req.queryAsArray for each reuqest
</li>
</ul>
      <br><br><hr>                     
        Release Notes - SFT CMS - Version 1.1.28
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-332'>SFTCMS-332</a>] -         Activetrail SDK - support of update create and get contacts
</li>
</ul>
                   <br><br><hr>  

<h1>SFT-CMS Release Notes</h1>

        Release Notes - SFT CMS - Version 1.1.27
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-331'>SFTCMS-331</a>] -         Language Fallback - not working on strings and dates
</li>
</ul>
             <br><br><hr>                       
        Release Notes - SFT CMS - Version 1.1.26
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-330'>SFTCMS-330</a>] -         Initial Modal - Translate save button text
</li>
</ul>
                     <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.1.25
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-329'>SFTCMS-329</a>] -         Language Fallback - not working on arrays and complex objects
</li>
</ul>
                   <br><br><hr>                           
        Release Notes - SFT CMS - Version 1.1.24
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-326'>SFTCMS-326</a>] -         Storage Service - Expose Move, Delete and Copy methods
</li>
</ul>
        <br><br><hr>                       
        Release Notes - SFT CMS - Version 1.1.23
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-323'>SFTCMS-323</a>] -         Translate &quot;Content&quot; side menu section
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-324'>SFTCMS-324</a>] -         List Page - Filters and Columns should be collapsed by default
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-325'>SFTCMS-325</a>] -         Storage Service - Expose List and List all methods
</li>
</ul>
                <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.1.22
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-322'>SFTCMS-322</a>] -         GmapsLocation - Map not rendering and autocomplete stopped working
</li>
</ul>
                 <br><br><hr>                     
        Release Notes - SFT CMS - Version 1.1.21
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-318'>SFTCMS-318</a>] -         Bindings not working if special char in property name
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-320'>SFTCMS-320</a>] -         HTML Field - binding not working
</li>
</ul>
    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-319'>SFTCMS-319</a>] -         Allow to set default binding on the field
</li>
</ul>
                 <br><br><hr>                
        Release Notes - SFT CMS - Version 1.1.20
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-317'>SFTCMS-317</a>] -         Langs middleware does not work in clustering
</li>
</ul>
                    <br><br><hr>               
        Release Notes - SFT CMS - Version 1.1.19
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-298'>SFTCMS-298</a>] -         Multilingual in root path 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-303'>SFTCMS-303</a>] -         Redirect multilingual by geolocation in homepage
</li>
</ul>
           <br><br><hr>                      
        Release Notes - SFT CMS - Version 1.1.18
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-313'>SFTCMS-313</a>] -         ImagePicker  Field - 403 reuqest error on load
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-314'>SFTCMS-314</a>] -         Html Field - first init focus throws exception
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-315'>SFTCMS-315</a>] -         Elfinder - Exception thrown on directory load
</li>
</ul>
         <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.1.17
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-309'>SFTCMS-309</a>] -         Image Picker - Elfinder makes infinite requests
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-310'>SFTCMS-310</a>] -         ImagePicker - Elfinder won&#39;t display files without mime
</li>
</ul>
    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-311'>SFTCMS-311</a>] -         Html FIeld - Inhence performnace
</li>
</ul>
         <br><br><hr>                  
        Release Notes - SFT CMS - Version 1.1.16
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-308'>SFTCMS-308</a>] -         List - toObject not contains populatedRelations
</li>
</ul>
         <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.1.15
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-307'>SFTCMS-307</a>] -         Elfinder - Images uploaded without cache control
</li>
</ul>
             <br><br><hr>                       
        Release Notes - SFT CMS - Version 1.1.14
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-306'>SFTCMS-306</a>] -         GmapsLocation - Autocomplete dropdown not displayed
</li>
</ul>
                   <br><br><hr>              
        Release Notes - SFT CMS - Version 1.1.13
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-305'>SFTCMS-305</a>] -         Support setting context locale
</li>
</ul>
                   <br><br><hr>             
        Release Notes - SFT CMS - Version 1.1.12
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-294'>SFTCMS-294</a>] -         CSRF validation fails
</li>
</ul>
                  <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.1.11
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-292'>SFTCMS-292</a>] -         Image handler - Adding original size support 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-293'>SFTCMS-293</a>] -         Storage Service - Allow uploading buffer
</li>
</ul>
                            <br><br><hr>       
        Release Notes - SFT CMS - Version 1.1.10
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-282'>SFTCMS-282</a>] -         False value causes context fallback
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-283'>SFTCMS-283</a>] -         Color Field - Cannot remove color value
</li>
</ul>
    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-281'>SFTCMS-281</a>] -         Add cache control to uploaded S3 files
</li>
</ul>
             <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.1.9
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-280'>SFTCMS-280</a>] -         Get Multiple - fix bluebird warning
</li>
</ul>
             <br><br><hr>              
        Release Notes - SFT CMS - Version 1.1.8
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-276'>SFTCMS-276</a>] -         Getting item fails when no binding is set
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-277'>SFTCMS-277</a>] -         When adding related item id is not displayed
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-278'>SFTCMS-278</a>] -         Inheriting cms model fails
</li>
</ul>
          <br><br><hr>                              
        Release Notes - SFT CMS - Version 1.1.7
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-275'>SFTCMS-275</a>] -         ImagePicker - Add description field for image
</li>
</ul>
          <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.1.6
                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-274'>SFTCMS-274</a>] -         After removing image binding fail
</li>
</ul>
              <br><br><hr>                            
        Release Notes - SFT CMS - Version 1.1.5
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-271'>SFTCMS-271</a>] -         ImagePicker field - getting wrong context image
</li>
</ul>
             <br><br><hr>                       
        Release Notes - SFT CMS - Version 1.1.4
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-270'>SFTCMS-270</a>] -         Removing relationship doesn&#39;t alwasy remove bind options
</li>
</ul>
           <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.1.3
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-269'>SFTCMS-269</a>] -         After removing all bindings - first binding doesn&#39;t work
</li>
</ul>
          <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.1.2
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-264'>SFTCMS-264</a>] -         Fields that support swipe cause tabs change
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-267'>SFTCMS-267</a>] -         Relationship field - After removing selection getting no results
</li>
</ul>
       <br><br><hr>                                      

        Release Notes - SFT CMS - Version 1.1.1
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-263'>SFTCMS-263</a>] -         binding data not being displayed
</li>
</ul>
       <br><br><hr>                              
        Release Notes - SFT CMS - Version 1.1.0
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-262'>SFTCMS-262</a>] -         Sometimes date picker displayed under the initial modal
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-252'>SFTCMS-252</a>] -         Add Support for multilanguage
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-253'>SFTCMS-253</a>] -         Add support for contexts
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-254'>SFTCMS-254</a>] -         Add Language context
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-255'>SFTCMS-255</a>] -         Add support for binding
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-257'>SFTCMS-257</a>] -         Add Color field type
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-259'>SFTCMS-259</a>] -         Support multilanguage in Admin UI
</li>
</ul>
        
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-256'>SFTCMS-256</a>] -         Use Promise instead of callbacks
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-258'>SFTCMS-258</a>] -         Auto detect RTL/LTR texts in texts
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-260'>SFTCMS-260</a>] -         List View : Make columns and filters sections accordion
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-261'>SFTCMS-261</a>] -         Increase Admin UI Performance
</li>
</ul>
                <br><br><hr>     

        Release Notes - SFT CMS - Version 1.0.2
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-266'>SFTCMS-266</a>] -         Relationship field - Allow value filters
</li>
</ul>
                 <br><br><hr>               

        Release Notes - SFT CMS - Version 1.0.1
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-265'>SFTCMS-265</a>] -         Allow setting autocomplete custom field
</li>
</ul>
                 <br><br><hr>                 

        Release Notes - SFT CMS - Version 1.0.0
                    <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.0.0-RC6.53
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-251'>SFTCMS-251</a>] -         Email - Allow using sendgrid with api token
</li>
</ul>
 <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.0.0-RC6.52
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-250'>SFTCMS-250</a>] -         adding maskyoo webhook
</li>
</ul>
                
 <br><br><hr> 

        Release Notes - SFT CMS - Version 	 1.0.0-RC6.51
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-249'>SFTCMS-249</a>] -         CRM - Support sending JSON in post request
 <br><br><hr> 
        Release Notes - SFT CMS - Version 1.0.0-RC6.50
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-248'>SFTCMS-248</a>] -         עדכון הגדרות של image handler
</li>
</ul>
                 <br><br><hr>   
        Release Notes - SFT CMS - Version 1.0.0-RC6.49
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-247'>SFTCMS-247</a>] -         עדכון הגדרות של image-handler
</li>
</ul>
               <br><br><hr>             

        Release Notes - SFT CMS - Version 1.0.0-RC6.48
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-245'>SFTCMS-245</a>] -         הוספת אפשרות של יצירת קוד אימות של מתשמש
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-246'>SFTCMS-246</a>] -         הוספת אפשרות לקבוע את איכות התמונות ב imageHandler
</li>
</ul>
             <br><br><hr>                         

        Release Notes - SFT CMS - Version 	 1.0.0-RC6.47
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-243'>SFTCMS-243</a>] -         Item - Cannot Clear Single Relationship field 
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-244'>SFTCMS-244</a>] -         Invoice4U - Allow creating recipts
</li>
</ul>
         <br><br><hr>                   
        Release Notes - SFT CMS - Version 1.0.0-RC6.46
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-237'>SFTCMS-237</a>] -         Navigation - Cannot set list in root
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-238'>SFTCMS-238</a>] -         Date field - time not in the correct format
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-239'>SFTCMS-239</a>] -         Select Filter - sent value is incorrect
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-240'>SFTCMS-240</a>] -         Text Column - Direction not working
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-241'>SFTCMS-241</a>] -         Relationship Tab - Select column not showing option
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-242'>SFTCMS-242</a>] -         Logs - Levels shown in lower case
</li>
</ul>
    <br><br><hr>                                            
        Release Notes - SFT CMS - Version 1.0.0-RC6.45
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-236'>SFTCMS-236</a>] -         Item relationship - List not sorted using default sort 
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-235'>SFTCMS-235</a>] -         Allow setting item relationship filter
</li>
</ul>
    <br><br><hr>                       

        Release Notes - SFT CMS - Version 1.0.0-RC6.44
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-233'>SFTCMS-233</a>] -         Text field - if direction rtl keeps ltr
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-234'>SFTCMS-234</a>] -         CSV exports wrong date
</li>
</ul>
<br><br><hr>                                         

        Release Notes - SFT CMS - Version 1.0.0-RC6.43
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-232'>SFTCMS-232</a>] -         Facebook Webhook - call callback multiple times
</li>
</ul>
           <br><br><hr>                              
        Release Notes - SFT CMS - Version 1.0.0-RC6.42
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-231'>SFTCMS-231</a>] -         FbWebhhok - Logs and attached change
</li>
</ul>
           <br><br><hr>                  
        Release Notes - SFT CMS - Version 1.0.0-RC6.41
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-230'>SFTCMS-230</a>] -         Callback not called in facebook webhook leads
</li>
</ul>
       <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.0.0-RC6.40
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-229'>SFTCMS-229</a>] -         Cannot delete item from relationship tab
</li>
</ul>
     <br><br><hr>                             
        Release Notes - SFT CMS - Version 1.0.0-RC6.39
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-228'>SFTCMS-228</a>] -         Allow adding external views
</li>
</ul>
         <br><br><hr>                   
        Release Notes - SFT CMS - Version 1.0.0-RC6.38
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-227'>SFTCMS-227</a>] -         Add Facebook Webhook SDK
</li>
</ul>
     <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.0.0-RC6.37
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-226'>SFTCMS-226</a>] -         Allow export in nocreate mode
</li>
</ul>
      <br><br><hr>                             
        Release Notes - SFT CMS - Version 1.0.0-RC6.36
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-224'>SFTCMS-224</a>] -         Item Page - relationship nodelete not hiding delete option
</li>
</ul>
                                
   <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC6.35
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-223'>SFTCMS-223</a>] -         Fix initial hidden fields
</li>
</ul>
                                
   <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC6.34
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-222'>SFTCMS-222</a>] -         Remove errors
</li>
</ul>
                                
   <br><br><hr>                 

        Release Notes - SFT CMS - Version 1.0.0-RC6.33
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-221'>SFTCMS-221</a>] -         Item Page - allow labels from options
</li>
</ul>
   <br><br><hr>                               
        Release Notes - SFT CMS - Version 1.0.0-RC6.32
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-218'>SFTCMS-218</a>] -         Item Page - remove binding name title
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-219'>SFTCMS-219</a>] -         Text Field - support direction in column
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-220'>SFTCMS-220</a>] -         BaseUser - Change General tab name
</li>
</ul>
                        <br><br><hr>                    
        Release Notes - SFT CMS - Version 	 1.0.0-RC6.31
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-217'>SFTCMS-217</a>] -         Mongo DB - Update to ver 4.7
</li>
</ul>
        <br><br><hr>                     
        Release Notes - SFT CMS - Version 	 1.0.0-RC6.30
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-216'>SFTCMS-216</a>] -         Fix bug in ListeMetaData-API
</li>
</ul>
        <br><br><hr>                         
        Release Notes - SFT CMS - Version 1.0.0-RC6.29
<h2>        Bug
</h2>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-212'>SFTCMS-212</a>] -         Date field - time is not presented
</li>
</ul>
   <br><br><hr>

        Release Notes - SFT CMS - Version 1.0.0-RC6.28.1
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-215'>SFTCMS-215</a>] -         WYSIWYG - לא ניתן לעלות תמונה/סרטון מתוך ממשק הניהול
</li>
</ul>
        <br><br><hr>          
        Release Notes - SFT CMS - Version 1.0.0-RC6.28
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-213'>SFTCMS-213</a>] -         CSV Download - not checking with total items
</li>
</ul>
        <br><br><hr>                            
        Release Notes - SFT CMS - Version 1.0.0-RC6.27
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-211'>SFTCMS-211</a>] -         base page url must be unique
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-210'>SFTCMS-210</a>] -         יצוא לקובץ csv - הגבלה ל 5.000 רשומות
</li>
</ul>
         <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC6.26
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-208'>SFTCMS-208</a>] -         מערכת ניהול - יצוא נתונים מהמערכת
</li>
</ul>
         <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.0.0-RC6.25
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-205'>SFTCMS-205</a>] -         שדה SELECT לא תומך באופציות שאינן Enum
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-206'>SFTCMS-206</a>] -         הסתרת שדות מפילטרים ועמודות כשאר הם hidden
</li>
</ul>
       <br><br><hr>                            
        Release Notes - SFT CMS - Version 	 1.0.0-RC6.24
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-204'>SFTCMS-204</a>] -         Remove the need for Specific configurations
</li>
</ul>
            <br><br><hr>                  
        Release Notes - SFT CMS - Version 1.0.0-RC6.23
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-203'>SFTCMS-203</a>] -         Allow Setting Admin title
</li>
</ul>
     <br><br><hr>                     
        Release Notes - SFT CMS - Version 1.0.0-RC6.22
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-201'>SFTCMS-201</a>] -         Password Reset - Case Insensetive not exact
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-202'>SFTCMS-202</a>] -         Allow To know if first worker
</li>
</ul>
        <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC6.21
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-199'>SFTCMS-199</a>] -         Fix unauth user redirection
</li>
</ul>
          <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC6.20
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-198'>SFTCMS-198</a>] -         בעיית לוגר בריצה על יותר מ Thread אחד
</li>
</ul>
      <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.0.0-RC6.19
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-193'>SFTCMS-193</a>] -         List - Filter field - Choosing filter behavior
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-197'>SFTCMS-197</a>] -         Allow login on Enter click
</li>
</ul>
           <br><br><hr>                
        Release Notes - SFT CMS - Version 1.0.0-RC6.18
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-196'>SFTCMS-196</a>] -         return delete errors msg
</li>
</ul>
       <br><br><hr>                    
        Release Notes - SFT CMS - Version 1.0.0-RC6.17
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-195'>SFTCMS-195</a>] -         Invoice4U route middleware
</li>
</ul>
         <br><br><hr>                
        Release Notes - SFT CMS - Version 1.0.0-RC6.16
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-178'>SFTCMS-178</a>] -         item - Reset changes button
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-183'>SFTCMS-183</a>] -         Item - Google maps component not working
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-129'>SFTCMS-129</a>] -         Item - הצגת הודעה על שמירה במידה ובוצע יציאה מעמוד תוכן
</li>
</ul>
     <br><br><hr>                       
        Release Notes - SFT CMS - Version 1.0.0-RC6.15
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-178'>SFTCMS-178</a>] -         item - Reset changes button
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-183'>SFTCMS-183</a>] -         Item - Google maps component not working
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-191'>SFTCMS-191</a>] -         elFinder - support upload files more then 2mb
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-187'>SFTCMS-187</a>] -         הוספת כפתור מחיקה לנתוני מיקום
</li>
</ul>
       
             <br><br><hr>                     
        Release Notes - SFT CMS - Version 	 1.0.0-RC6.14
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-172'>SFTCMS-172</a>] -         elFinder - Unexpected XML fille appearance
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-124'>SFTCMS-124</a>] -         תפריט צד - הוספת אינדיקציה על מיקום המשתמש במערכת
</li>
</ul>
         
             <br><br><hr>                
        Release Notes - SFT CMS - Version 1.0.0-RC6.13
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-174'>SFTCMS-174</a>] -         Item - Leads - Text align 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-179'>SFTCMS-179</a>] -         Item - Relationships information
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-185'>SFTCMS-185</a>] -         Item - Validation in assent item
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-189'>SFTCMS-189</a>] -         Main Content - Unwanted behavior - Drifts to right 
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-190'>SFTCMS-190</a>] -         Allow invoice4u details in config
</li>
</ul>
             <br><br><hr>             
        Release Notes - SFT CMS - Version 1.0.0-RC6.12
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-171'>SFTCMS-171</a>] -         Item - Required field do not appear the same
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-183'>SFTCMS-183</a>] -         Item - Google maps component not working
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-186'>SFTCMS-186</a>] -         Item - Areas does not contain cities items
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-188'>SFTCMS-188</a>] -         Password reset - allow find user case insensetive
</li>
</ul>
                 
        <br><br><hr>         
        Release Notes - SFT CMS - Version 1.0.0-RC6.11
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-175'>SFTCMS-175</a>] -         Item - Magazine - Date &amp; &#39;Now&#39; Button
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-140'>SFTCMS-140</a>] -         List - הצגת כפתורי Update / Delete לאורך כל התצוגה
</li>
</ul>
        <br><br><hr>                  
        Release Notes - SFT CMS - Version 1.0.0-RC6.10
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-182'>SFTCMS-182</a>] -         fix logs type
</li>
</ul>
         <br><br><hr>                          
        Release Notes - SFT CMS - Version 1.0.0-RC6.9
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-181'>SFTCMS-181</a>] -         Expose method to add LogTypes
</li>
</ul>
             <br><br><hr>                     
        Release Notes - SFT CMS - Version 1.0.0-RC6.8
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-145'>SFTCMS-145</a>] -         Add Logging Framework
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-146'>SFTCMS-146</a>] -         Invoice4u SDK
</li>
</ul>
         <br><br><hr>                   
        Release Notes - SFT CMS - Version 1.0.0-RC6.7
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-153'>SFTCMS-153</a>] -         בין פריטים  Relationships - הוספת
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-124'>SFTCMS-124</a>] -         תפריט צד - הוספת אינדיקציה על מיקום המשתמש במערכת
</li>
</ul>
     <br><br><hr>                      
        Release Notes - SFT CMS - Version 1.0.0-RC6.6
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-142'>SFTCMS-142</a>] -         התנהגות בלתי הולמת של הממשוקים
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-155'>SFTCMS-155</a>] -         Details of the last user who updated the content 
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-140'>SFTCMS-140</a>] -         List - הצגת כפתורי Update / Delete לאורך כל התצוגה
</li>
</ul>
       <br><br><hr>                      
        Release Notes - SFT CMS - Version 1.0.0-RC6.5
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-170'>SFTCMS-170</a>] -         שמירה של מודל שיש לו מאפיין ImagePicker לא שומר את מערך התמונות
</li>
</ul>
       <br><br><hr>                           
        Release Notes - SFT CMS - Version 1.0.0-RC6.4
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-126'>SFTCMS-126</a>] -         Item - תצוגת הודעת שגיאה מוצגת בראש העמוד
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-134'>SFTCMS-134</a>] -         List - Columns - מחיקת עמודה פותחת את רשימת העמודות
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-137'>SFTCMS-137</a>] -         elFinder - תצוגה לא תקינה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-167'>SFTCMS-167</a>] -         Validation on Sign In form 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-168'>SFTCMS-168</a>] -         Append fields for creating new user 
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-124'>SFTCMS-124</a>] -         תפריט צד - הוספת אינדיקציה על מיקום המשתמש במערכת
</li>
</ul>
   <br><br><hr>                        
        Release Notes - SFT CMS - Version 1.0.0-RC6.3
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-127'>SFTCMS-127</a>] -         List - Ordering by - טיוב תצוגת הקומפוננטה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-128'>SFTCMS-128</a>] -         List - הוספת תצוגת דפדוף בתחתית העמוד
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-131'>SFTCMS-131</a>] -         List - Filters - טיוב תצוגת הקומפוננטה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-140'>SFTCMS-140</a>] -         List - הצגת כפתורי Update / Delete לאורך כל התצוגה
</li>
</ul>
    <br><br><hr>            
             
        Release Notes - SFT CMS - Version 1.0.0-RC6.2
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-122'>SFTCMS-122</a>] -         שורת תפריט עליונה - תמונת המשתמש אינה מוצגת
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-135'>SFTCMS-135</a>] -         item - שדה חובה - אין תצוגת אינדיקציה לשדה חובה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-157'>SFTCMS-157</a>] -         Amendment Position of elFinder
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-166'>SFTCMS-166</a>] -         HTML tags are shown in description column of a list
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-130'>SFTCMS-130</a>] -         Item - multiple selection field - טיוב התנהגות קומפוננטה
</li>
</ul>
      <br><br><hr> 
                        
        Release Notes - SFT CMS - Version 1.0.0-RC6.1
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-120'>SFTCMS-120</a>] -         הגדרות - משתמשים - הוספת שדה אימות סיסמה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-162'>SFTCMS-162</a>] -         Lead item - Extended Information is missing and tab naming
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-163'>SFTCMS-163</a>] -         amendment - Erasing image from galley 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-164'>SFTCMS-164</a>] -         Page List - Searching through pressing &quot;Enter&quot; &amp; Drop down behavior after a select 
</li>
</ul>
       <br><br><hr>                           
        Release Notes - SFT CMS - Version 1.0.0-RC6
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-125'>SFTCMS-125</a>] -         תפריט הגדרות תצוגה - שינוי צבע ערכת התצוגה אינו מתפקד
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-138'>SFTCMS-138</a>] -         List - export csv file - עברית מוצגת כג&#39;יבריש
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-139'>SFTCMS-139</a>] -         List - Filters - מחיקת פילטרים אינה מנקה את תצוגתם
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-143'>SFTCMS-143</a>] -         פרויקטים - לא ניתן להוסיף תמונות לגלריה
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-158'>SFTCMS-158</a>] -         Amendment  browsing through pages in CMS
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-159'>SFTCMS-159</a>] -         Amendment -  Deleting users from the CMS 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-160'>SFTCMS-160</a>] -         Filter amendment - Content drop down
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-132'>SFTCMS-132</a>] -         List - הוספת שורת חיפוש
</li>
</ul>
                        
<br><br><hr>  
        Release Notes - SFT CMS - Version 1.0.0-RC5.2
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-151'>SFTCMS-151</a>] -         אין אפשרות לבצע שחזור סיסמה ל baseuser
</li>
</ul>
<br><br><hr>                      
        Release Notes - SFT CMS - Version 1.0.0-RC5.1
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-150'>SFTCMS-150</a>] -         אין אפשרות ליצור משתשמים baseuser
</li>
</ul>
                                

<br><br><hr>     
        Release Notes - SFT CMS - Version 1.0.0-RC5
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-149'>SFTCMS-149</a>] -         אין אפשרות ליצור משתמשים כאשר מורישים מודל של baseuser
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-144'>SFTCMS-144</a>] -         Paypal SDK
</li>
</ul>
            <br><br><hr>                    
        Release Notes - SFT CMS - Version 1.0.0-RC4
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-110'>SFTCMS-110</a>] -         Relationship field - wired scroll behavior
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-111'>SFTCMS-111</a>] -         Authentication
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-112'>SFTCMS-112</a>] -         Numbers filter - Remove calendar icon
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-141'>SFTCMS-141</a>] -         Expose S3 putFile
</li>
</ul>
   <br><br><hr>                                
        Release Notes - SFT CMS - Version 1.0.0-RC3.1
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-105'>SFTCMS-105</a>] -         Can&#39;t create new entity
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-106'>SFTCMS-106</a>] -         Can&#39;t close sort on click outside
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-107'>SFTCMS-107</a>] -         fix numbers issue with null
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-108'>SFTCMS-108</a>] -         fix gmaps initial view
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-109'>SFTCMS-109</a>] -         fix update with createdBy and updatesBy
</li>
</ul>
                                
    <br><br><hr>   
        Release Notes - SFT CMS - Version 1.0.0-RC3
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-104'>SFTCMS-104</a>] -         Fix Path join in glob
</li>
</ul>
         <br><br><hr>                 
        Release Notes - SFT CMS - Version 1.0.0-RC2
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-97'>SFTCMS-97</a>] -         custom admin -  refactor gmapsLocation to be align with mongoose geo index
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-98'>SFTCMS-98</a>] -         custom  admin - Set node cluster as default
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-99'>SFTCMS-99</a>] -         custom admin - CRM - fix return req object
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-100'>SFTCMS-100</a>] -         custom admin - ScheduledJobs log - fix date
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-101'>SFTCMS-101</a>] -         custom admin - Fix ImagePicker required
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-102'>SFTCMS-102</a>] -         custom admin - Adding google place API key in field type - gmapsLocation
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-103'>SFTCMS-103</a>] -         Fix Custom Admin Issues
</li>
</ul>
                        
 <br><br><hr>  

        Release Notes - SFT CMS - Version 1.0.0-RC1
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-84'>SFTCMS-84</a>] -         Custom Admin - Fix login Controller
</li>
</ul>
          <br><br><hr>  
                        
        Release Notes - SFT CMS - Version 1.0.0-alpha
                
<h2>        Epic
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-81'>SFTCMS-81</a>] -         Custom Admin
</li>
</ul>
          <br><br><hr>   

        Release Notes - SFT CMS - Version 0.0.58
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-96'>SFTCMS-96</a>] -         refactor gmapsLocation to be align with mongoose geo index
</li>
</ul>
         <br><br><hr>                 

        Release Notes - SFT CMS - Version 0.0.57
            
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-93'>SFTCMS-93</a>] -         Set node cluster as default 
</li>
</ul>
                        

 <br><br><hr>      
        Release Notes - SFT CMS - Version 0.0.56
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-92'>SFTCMS-92</a>] -         cluster in not defined in index
</li>
</ul>
   <br><br><hr>                                   
        Release Notes - SFT CMS - Version 0.0.55
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-91'>SFTCMS-91</a>] -         Fix ImagePicker required
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-90'>SFTCMS-90</a>] -         Allow clustering
</li>
</ul>
  <br><br><hr>                            

        Release Notes - SFT CMS - Version 0.0.54
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-87'>SFTCMS-87</a>] -         CRM - fix return req object
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-88'>SFTCMS-88</a>] -         ScheduledJobs log - fix date
</li>
</ul>
               <br><br><hr>                             
        Release Notes - SFT CMS - Version 0.0.53
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-86'>SFTCMS-86</a>] -         Adding google place API key in field type - gmapsLocation
</li>
</ul>
          <br><br><hr>                  


        Release Notes - SFT CMS - Version 0.0.52
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-85'>SFTCMS-85</a>] -         Fix Crm Service
</li>
</ul>
    <br><br><hr>
        Release Notes - SFT CMS - Version 0.0.51
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-82'>SFTCMS-82</a>] -         Allow plugins config
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-83'>SFTCMS-83</a>] -         Add skipFactor to paginate
</li>
</ul>
         <br><br><hr>                      
        Release Notes - SFT CMS - Version 0.0.50
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-76'>SFTCMS-76</a>] -         CSV Download - Fix ignore of id property
</li>
</ul>
       <br><br><hr>                          
        Release Notes - SFT CMS - Version 0.0.49
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-73'>SFTCMS-73</a>] -         Change req.headers to req.get
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-74'>SFTCMS-74</a>] -         Remove IP middleware
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-75'>SFTCMS-75</a>] -         CSV Download - Add only relavent columns
</li>
</ul>
              <br><br><hr>                         
        Release Notes - SFT CMS - Version 0.0.48
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-72'>SFTCMS-72</a>] -         Ip middleware - check for x-real-ip
</li>
</ul>
             <br><br><hr>                    
        Release Notes - SFT CMS - Version 0.0.47
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-72'>SFTCMS-72</a>] -         Ip middleware - check for x-real-ip
</li>
</ul>
             <br><br><hr>               
        Release Notes - SFT CMS - Version 0.0.46
                            
<h2>        Task
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-71'>SFTCMS-71</a>] -         CSV Download - fix giberish
</li>
</ul>
         <br><br><hr>             
        Release Notes - SFT CMS - Version 0.0.45
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-68'>SFTCMS-68</a>] -         Location field - clear unused data
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-69'>SFTCMS-69</a>] -         WYSIWYG - set default convert_urls
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-70'>SFTCMS-70</a>] -         Elfinder - set to lower case configuration
</li>
</ul>
     <br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.44
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-67'>SFTCMS-67</a>] -         Fix require for kcf
</li>
</ul>
     <br><br><hr>  
     
        Release Notes - SFT CMS - Version 0.0.43
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-64'>SFTCMS-64</a>] -         allow extend tinymce
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-65'>SFTCMS-65</a>] -         remove keystone from footer
</li>
</ul>
     <br><br><hr>                         
     

        Release Notes - SFT CMS - Version 0.0.42
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-63'>SFTCMS-63</a>] -         Expose ability to add filedTypes
</li>
</ul>
          <br><br><hr>                         
        Release Notes - SFT CMS - Version 0.0.41
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-62'>SFTCMS-62</a>] -         Add admin middleware
</li>
</ul>
         <br><br><hr>                      

        Release Notes - SFT CMS - Version 0.0.40
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-61'>SFTCMS-61</a>] -         Base Page - Fix nameUrl validation
</li>
</ul>
              <br><br><hr>                          
        Release Notes - SFT CMS - Version 0.0.39
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-60'>SFTCMS-60</a>] -         BasePage - fix nameUrl check
</li>
</ul>
              <br><br><hr>                     
        Release Notes - SFT CMS - Version 0.0.38
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-58'>SFTCMS-58</a>] -         Base Page - unique nameUrl
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-59'>SFTCMS-59</a>] -         Html Field -  Add 16pt to font sizes
</li>
</ul>
            <br><br><hr> 
            
        Release Notes - SFT CMS - Version 0.0.37
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-57'>SFTCMS-57</a>] -         Allow chosing more than 21 pictures
</li>
</ul>
            <br><br><hr>                      
        Release Notes - SFT CMS - Version 0.0.36
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-56'>SFTCMS-56</a>] -         Allow adding custom css to admin
</li>
</ul>
      <br><br><hr>                        

        Release Notes - SFT CMS - Version 0.0.35
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-55'>SFTCMS-55</a>] -         Global Exception handling
</li>
</ul>
     <br><br><hr>                         
        Release Notes - SFT CMS - Version 0.0.34
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-54'>SFTCMS-54</a>] -         BasePage - enhcance param checks
</li>
</ul>
                        
    <br><br><hr>  
        Release Notes - SFT CMS - Version 0.0.33
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-53'>SFTCMS-53</a>] -         Add support for scheduled tasks
</li>
</ul>
             <br><br><hr>                
        Release Notes - SFT CMS - Version 0.0.32
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-50'>SFTCMS-50</a>] -         Elfinder - Allow saving last view
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-51'>SFTCMS-51</a>] -         ActiveTrail - Support object config
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-52'>SFTCMS-52</a>] -         Expose Keystone auth middleware
</li>
</ul>
    <br><br><hr>                           


        Release Notes - SFT CMS - Version 0.0.31
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-49'>SFTCMS-49</a>] -         ActiveTrail SDK
</li>
</ul>
  <br><br><hr>                       

        Release Notes - SFT CMS - Version 0.0.30
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-46'>SFTCMS-46</a>] -         fix image
</li>
</ul>
 <br><br><hr>                       

        Release Notes - SFT CMS - Version 0.0.29
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-44'>SFTCMS-44</a>] -         Fix ImageMagick stdout parser
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-45'>SFTCMS-45</a>] -         BasePage - get meta tags handle image
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.28
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-43'>SFTCMS-43</a>] -         Elfinder - Fix s3 driver
</li>
</ul>
<br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.27
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-41'>SFTCMS-41</a>] -         Image Handler - hadnle complex urls
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-42'>SFTCMS-42</a>] -         Fix BasePage
</li>
</ul>
<br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.26
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-40'>SFTCMS-40</a>] -         Elfinder fixes
</li>
</ul>
<br><br><hr>                        
        Release Notes - SFT CMS - Version 0.0.25
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-39'>SFTCMS-39</a>] -         Fix ImagePicker/Elfinder
</li>
</ul>
<br><br><hr>

        Release Notes - SFT CMS - Version 0.0.24
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-37'>SFTCMS-37</a>] -         elfidner - fix s3 connector
</li>
</ul>
 <br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.23
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-34'>SFTCMS-34</a>] -         fix add ImagePath to images
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-35'>SFTCMS-35</a>] -         elfinder - remove actions from context menu
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-36'>SFTCMS-36</a>] -         elfinder - allow changing view mode
</li>
</ul>
  <br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.22
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-33'>SFTCMS-33</a>] -         Fix BasePage getMetaTags
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-29'>SFTCMS-29</a>] -         Enhance TinyMCE
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-30'>SFTCMS-30</a>] -         fix elfinder loader
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-31'>SFTCMS-31</a>] -         Add note to all required fields
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-32'>SFTCMS-32</a>] -         Fix GmapsLocation to allow csv
</li>
</ul>

   <br><br><hr> 
        Release Notes - SFT CMS - Version 0.0.21
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-28'>SFTCMS-28</a>] -         Fix ImagePicker remoev single image
</li>
</ul>
   <br><br><hr> 
   
   
        Release Notes - SFT CMS - Version 0.0.20
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-26'>SFTCMS-26</a>] -         Fix ImagePicker public urls
</li>
</ul>
    <br><br><hr>                             

        Release Notes - SFT CMS - Version 0.0.18
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-25'>SFTCMS-25</a>] -         fix mobile detect
</li>
</ul>
<br><br><hr>   

        Release Notes - SFT CMS - Version 0.0.17
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-23'>SFTCMS-23</a>] -         Fix Configs
</li>
</ul>
<br><br><hr>     
        Release Notes - SFT CMS - Version 0.0.16
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-22'>SFTCMS-22</a>] -         Fix configLoader
</li>
</ul>
<br><br><hr>                      

        Release Notes - SFT CMS - Version 0.0.15
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-21'>SFTCMS-21</a>] -         Fix preView middleware
</li>
</ul>
 <br><br><hr>                       


        Release Notes - SFT CMS - Version 0.0.14
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-20'>SFTCMS-20</a>] -         Fix ImageSelectorBug
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.13
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-19'>SFTCMS-19</a>] -         fix configs extend
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-9'>SFTCMS-9</a>] -         Image/s picker
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.12
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-17'>SFTCMS-17</a>] -         Move Image handler request
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.11
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-16'>SFTCMS-16</a>] -         GmapsLocation set initial if null
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.10
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-10'>SFTCMS-10</a>] -         Image Handler
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.9
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-10'>SFTCMS-10</a>] -         Image Handler
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.8
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-15'>SFTCMS-15</a>] -         pre:view hook not support async methods
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.7
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-14'>SFTCMS-14</a>] -         Add pre:view hook
</li>
</ul>
<br><br><hr>
        Release Notes - SFT CMS - Version 0.0.6
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-11'>SFTCMS-11</a>] -         Fix FieldTypes bug
</li>
</ul>
        
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-12'>SFTCMS-12</a>] -         Add mobile detect
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-13'>SFTCMS-13</a>] -         Add Release Notes
</li>
</ul>
<br><br><hr>
Release Notes - SFT CMS - Version 0.0.5
            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-8'>SFTCMS-8</a>] -         GmapsLocation not working
</li>
</ul>
<br><br><hr>
Release Notes - SFT CMS - Version 0.0.4
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-7'>SFTCMS-7</a>] -         Add Config loader for enviormental variables
</li>
</ul>
<br><br><hr>
Release Notes - SFT CMS - Version 0.0.3
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-4'>SFTCMS-4</a>] -         Implement an email Service
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-5'>SFTCMS-5</a>] -         Location FieldType
</li>
</ul>
<br><br><hr>
Release Notes - SFT CMS - Version 0.0.1
                    
<h2>        Story
</h2>
<ul>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-1'>SFTCMS-1</a>] -         Create Initial package
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-2'>SFTCMS-2</a>] -         Add Base Page model 
</li>
<li>[<a href='https://softangible.atlassian.net/browse/SFTCMS-3'>SFTCMS-3</a>] -         Virtual Phone FieldType
</li>
</ul>
                        